.contain {
	position: fixed;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('/src/assets/backgournd.png');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bigTitle{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 5.625rem;
	font-weight: 1000;
	color: white;
}

.smallTitile{
	position: relative;
	text-align: center;
	font: size 0.875rem;
	color: white;
}

.normalTitle{
	margin-top: 1.875rem;
	position: relative;
	text-align: center;
	font-size: 1.875rem;
}

.divider{
	position: relative;
	left: 46%;
	width: 8%;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.text_content{
	font-size: 1rem;
	margin: 0.25rem;
}

.containDiv{
	position: relative;
	width: 100%;
	top: 100%;
	display: flex;
	flex-direction: column;
}

.containDiv_about{
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding-bottom: 4rem;
}

.containDiv_recommond{
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: whitesmoke;
	padding-bottom: 2rem;
}

.containDiv_bottom{
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	padding-bottom: 2rem;
}

.recommond_list{
	display: flex;
    position: relative;
    margin-top: 0.625rem;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item{
	width: 6.25rem;
	height: 6.25rem;
	margin: 0.625rem;
	background-color: aquamarine;
}

.topNav{
	position: absolute;
	width: 100%;
	height: 2.5rem;
	top: 0%;
	display: flex;
}

.containDiv_about{
	width: 100%;
	height: 100%;
}

.icon{
	height: 1.25rem;
	width: 1.25rem;
	left: 0%;
	object-fit: contain;
	align-self: center;
}


.button{
	text-align: center;
	width: 6rem;
	margin: 0.625rem;
}

.button_text{
	font-size: 1rem;
	font-weight: 500;
}

.dialogItem{
	width: 100%;
}

.drawable{
	position: absolute;
	top: 0%;
	right: 0%;
}
