.contain {
	position: fixed;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('/src/assets/backgournd.png');
	text-align: center;
}

.bigTitle{
	margin-top: 30%;
	font-size: 7.5rem;
	font-weight: 1000;
	color: white;
}